<div class="comp small" #comp (click)="open()"> {{occupantName}} <br>
  <span *ngIf="transactionType.length > 1" style="font-size:9px;color:#a9fd1d!important;">{{transactionType}}</span>
  <span *ngIf="transactionType === '5' && !RoomRate" style="margin-top:80px!important;">
      <span  *ngIf="!RoomRate"  class="spinner  spinner-sm" style="margin-left:6px; "></span><br>
      <span  *ngIf="!RoomRate">Loading rate...</span>

  </span>

<span *ngIf="RoomRate" style="font-size:8px;color:hsl(0, 0%, 100%)!important;">
  <span class="lable label-info">Rate: {{RoomRate.amount | number:'0.2'}}</span>
</span>
</div>



<clr-modal [(clrModalOpen)]="isEmptyMenu" [clrModalSize]="'sm'" >

    <div class="modal-body">
  
      <div class="row">
        <div class="col-md-12 r-menu" (click)="OpenWalkingDialog();">Walk In</div>
        <div class="col-md-12 r-menu" (click)="OpenWalkingDialog();">Reserve</div>
      </div>
  
  
    </div>
  
  </clr-modal>



<clr-modal [(clrModalOpen)]="isRoom" [clrModalSize]="'xl'">
  <h6 class="modal-title m-title">Room Details</h6>
  <div class="modal-body m-body" *ngIf="lodingRoomDetails">
    <span  class="spinner  spinner-lg" style="margin-left:50px; margin-top:20px;"></span>
    <h3>Loading..</h3>
  </div>

  <div class="modal-body m-body" *ngIf="!lodingRoomDetails">

    <div class="row room-details">
      <div class="col-md-4">
        <b>Room Type:</b> {{roomDetails.room_type_.room_type_name}}</div>
      <div class="col-md-4">
        <b>Floor:</b> {{roomDetails.floor_.floor_name}}</div>
      <div class="col-md-4">
        <b>Room Name:</b> {{roomDetails.room_name}}</div>
    </div>

    <div class="row room-details">
      <div class="col-md-4">
        <b>Phone Extension:</b> {{roomDetails.phone_extension}}</div>
      <div class="col-md-4">
        <b>Data Extension:</b> {{roomDetails.data_extension}}</div>
      <div class="col-md-4">
        <b>Power Code:</b> {{roomDetails.power_code}}</div>
    </div>


    <div class="row  ">
      <div class="col-md-12 pbar">Room Images</div>
      <div class="col-md-12">
        <div class="row">

          <div class="col-md"  *ngFor="let img of roomDetails.room_images">
            <a class="card clickable">
              <div class="card-img">
                <img src="{{baseUrl}}/files/{{img.image_url}}" style="width:250px;">
              </div>
            </a>
          </div>
       

        </div>
      </div>
    </div>

    <div class="row  ">
      <div class="col-md-12 pbar">Amenities</div>

      <div class="col-md-2"   *ngFor="let img of roomDetails.rooms_amenities">
        <div class="alert alert-success alert-sm">
          <div class="alert-items">
            <div class="alert-item static">
              <span class="alert-text">
                {{img.amenity_.amenity_name}}
              </span>
              <div class="card-img">
                  <img src="{{baseUrl}}/files/{{img.amenity_.amenity_logo}}" style="width:150px;">
                </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-danger" (click)="isRoom = false">Close</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="isCheckedIn" [clrModalSize]="'sm'">

    <div class="modal-body">
  
      <div class="row">
        <div class="col-md-12 r-menu" (click)="isCheckedIn = false">Check Out </div>
        <div class="col-md-12 r-menu" (click)="isCheckedIn = false">View Transaction  </div>
      </div>
  
  
    </div>
  
  </clr-modal>

  <clr-modal [(clrModalOpen)]="isReserved" [clrModalSize]="'sm'">

      <div class="modal-body">
    
        <div class="row">
          <div class="col-md-12 r-menu" (click)="OnCheckinClicked()">Check In </div>
          <div class="col-md-12 r-menu" (click)="isReserved = false">View Transaction  </div>
        </div>
    
    
      </div>
    
    </clr-modal>


    
<clr-modal [(clrModalOpen)]="onCheckinMode" [clrModalSize]="'xl'" [clrModalClosable]="false">
    <h3 class="modal-title">Check In</h3>
    <div class="modal-body">
      <div >
        <div class="clr-row">
          <div class="clr-col-md-12">
          
              <span *ngIf="!checkinReservation" class="spinner  spinner-md" style="margin-left:50px;"></span>
  
         

           <div class="clr-row"  *ngIf="checkinReservation">
              <div class="clr-col-md-6">
                <h4>Reservation Details</h4>
                <table class="table table-striped">
                  <tr>
                    <th>Reservation Number</th>
                    <td>{{checkinReservation.reservation_number}}</td>
                  </tr>
                  <tr>
                     <th>Booked On </th>
                     <td>{{checkinReservation.book_on  | date: 'dd/MM/yyyy'}}</td>
                   </tr>
                   <tr>
                       <th>Arrival Date</th>
                       <td>{{checkinReservation.arrival  | date: 'dd/MM/yyyy'}}</td>
                     </tr>
                     <tr>
                         <th>Departure Date</th>
                         <td>{{checkinReservation.departure  | date: 'dd/MM/yyyy'}}</td>
                       </tr>
                  
                </table>
              </div>
              <div class="clr-col-md-6">
 
                 <h4>Account Details</h4>
                 <table class="table table-striped">
                   <tr>
                     <th>Fullname</th>
                     <td >{{checkinReservation.account_.first_name}} {{checkinReservation.account_.last_name}}</td>
                   </tr>
                   <tr>
                      <th>Email Address</th>
                      <td>{{checkinReservation.account_.email}}</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>{{checkinReservation.account_.phone}}</td>
                      </tr>
                      <tr>
                          <th>Address</th>
                          <td>{{checkinReservation.account_.address1}}  {{checkinReservation.account_.address2}} {{checkinReservation.account_.state}} {{checkinReservation.account_.country}}</td>
                        </tr>
                   
                 </table>
 
              </div>
          
            </div>
                   
           
      
           <table *ngIf="checkinReservation"  class="table table-striped">
              <thead>
                <tr>
                  <td colspan="6">
                    <h4>Reserved Rooms</h4>
                  </td>
                </tr>
                <tr>
                  <th>S/N</th>
                  <th>Room Name</th>
                  <th>Room Type</th>
                  <th>Number of Nights</th>
                  <th>Number of Adult</th>
                  <th>Number Of Children</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let d  of checkinReservation.reserved_rooms">
                  <td>{{d.serial_number}}</td>
                  <td>{{d.room_name}}</td>
                  <td>{{d.room_type_name}}</td>
                  <td>{{d.num_of_night}}</td>
                  <td>{{d.num_of_adult}}</td>
                  <td>{{d.num_of_children}}</td>
                </tr>
              </tbody>
           </table>

           <table *ngIf="checkinReservation"  class="table table-striped">
              <thead>
                <tr>
                  <td colspan="6">
                    <h4>Payments</h4>
                  </td>
                </tr>
                <tr>
                  <th>S/N</th>
                  <th>Payment Method</th>
                  <th>Total Amount</th>
                  <th>Paid</th>
                  <th>Balance</th>
                  <th>Transaction Date</th>
                  <th>On Discount</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let d  of checkinReservation.reservation_payments; let index= index;">
                  <td>{{index+1}}</td>
                  <td>{{d.payment_method}}</td>
                  <td  *ngIf="d.on_discount===0">{{d.total_amount | number:'.2'}}</td>
                  <td *ngIf="d.on_discount > 0">{{d.total_amount_with_discount | number:'.2'}} <br>
                     
                  </td>
                  <td>{{d.paid  | number:'.2'}}</td>
                  <td>{{d.balance  | number:'.2'}}</td>
                  <td>{{d.created | date: 'dd/MM/yyyy'}}</td>
                  <td [innerHTML]="getDiscountStatus(d.on_discount, d)"> </td>
                </tr>
              </tbody>
           </table>

      
  
          </div> 
          <div class="clr-col-4"></div> 
          <div class="clr-col-4">
            <button *ngIf="checkinReservation" class="btn btn-primary btn-block"  (click)=" onCheckInClicked2();"> Check In</button>
          </div> 
          <div class="clr-col-4"></div>    
        </div>
      </div>
  
  
    </div>
    <div class="modal-footer">
  
      <button type="button" class="btn btn-danger" (click)="onCheckinMode = false">Close</button>
    </div>
  </clr-modal>



