<div class="summary-bar">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <select name="select" id="select" class=" view-select">
                  <option value="Room View">select a wing</option>
                  <option value="Room View">Grid View</option>
                 </select>
               </div>
            
        </div>
        <div class="col-md-4">
        
             <div class="form-group">
              <select name="select" id="select" class="view-select">
                <option value="Room View">select a floor</option>
                <option value="Room View">Grid View</option>
               </select>
             </div>
      </div>
        <div class="col-md-4">
            <form class="form" #simpleForm="ngForm">
            <input type="date" [(ngModel)]="date" name="date" (change)="changeDate(date)"  class="view-date">
            </form>
         
        </div>
      </div>
      
  

    </div>
    <div class="col-sm">
      <div class="row right x-icon-row">
        <div class="col-md x-icon-dot">
          Vacant <br>
          <clr-icon shape="home" class="is-solid"></clr-icon> 22
          
        </div>
        <div class="col-md x-icon-dot">
          Occupied <br>
          <clr-icon shape="users" class="has-badge is-solid"></clr-icon> 77
        </div>
        <div class="col-md x-icon-dot">
          Reserved <br>
          <clr-icon shape="key" class="has-badge is-solid"></clr-icon> 13
        </div>
        <div class="col-md x-icon-dot">
          OutOfOrder <br>
          <clr-icon shape="bullseye" class="is-solid"></clr-icon> 8
        </div>
        <div class="col-md x-icon-dot">
          Due Out <br>
          <clr-icon shape="collapse-card" class="is-solid"></clr-icon> 4
        </div>
        <div class="col-md x-icon-dot">
          Dirty br <br>
          <clr-icon shape="thumbs-down" class="is-solid"></clr-icon> 1
        </div>
    
    
      </div>
    </div>
  </div>
</div>