
.even{
 background: #0065AB;
 color: white!important;
}

.odd{
    background: #49AFD9;
    color: white!important;
}

.header1{
    background-color: #C1CDD4;
    color:white!important;
}

.taxExempt{
    height: 40px;
    background-color: #0065AB;
    color: white;
    padding-top: 7px;
    text-align: center;
}