thead {
  background-color: #C1CDD4;
  border: solid 1px #798893;
}

th {
  font-size: 10px;
  background-color: #C1CDD4;
  border: solid 1px #798893;
  color: #0065AB;
}

.x40 {
  width: 40px;
}

.x80 {
  width: 80px;
}

.x90 {
  width: 90px;
}

.x120 {
  width: 120px;
}

.x50 {
  width: 50px;
}
