


<tbody>
    <tr>
      <td></td>
      <td></td>
      <td>A <div class="box-dt red x40"></div></td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>B<div class="box-dt green x80"></div> </td>
      <td> </td>
      <td> </td>
      <td>C<div class="box-dt green x120"></div> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td></td>
      <td> </td>
      <td></td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
   
    </tr>
  </tbody>