

<thead>
  <tr>
    <th>+/-</th>
    <th>Rooms</th>
    <th>01 Mon</th>
    <th>02 Tue</th>
    <th>03 Wed</th>
    <th>04 Thu</th>
    <th>05 Fri</th>
    <th>06 Sat</th>
    <th>07 Sun</th>
    <th>08 Mon</th>
    <th>09 Tue</th>
    <th>10 Wed</th>
    <th>11 Thu</th>
    <th>12 Fri</th>
    <th>13 Sat</th>
    <th>14 Sun</th>
    <th>15 Mon</th>
    <th>16 Tue</th>
    <th>17 Wed</th>
    <th>18 Thu</th>
    <th>19 Fri</th>
    <th>20 Sat</th>
    <th>21 Sun</th>
    <th>22 Mon</th>
    <th>23 Tue</th>
    <th>24 Wed</th>
    <th>25 Thu</th>
    <th>26 Fri</th>
    <th>27 Sat</th>
    <th>28 Sun</th>
    <th>29 Mon</th>
    <th>30 Tue</th>
    <th>31 Wed</th>
 
  </tr>
</thead>