<div class="clr-row">
  <div class="clr-col-md-1"></div>
  <div class="clr-col-md-10">
    <h2 style="margin-top:5px!important;" class="label label-primary">Check In - Search Panel</h2>
    <table class="table">
      <thead>
        <th>Search Field</th>
        <th>Search Condition</th>
        <th>Value</th>
        <th>Action</th>

      </thead>
      <tbody>
        <tr>
          <td>
            <select class="clr-col-md-12 ss0" (change)="onSearchFieldChange($event)">
              <option value="select">--select--</option>
              <option value="reservation_number|text">Reservation Number</option>
              <option value="book_on|date">Booked On</option>
              <option value="arrival|date">Arrival Date</option>
              <option value="departure|date">Departure Date</option>
              <option value="reservation_status|text">Reservation Status</option>
            </select>
          </td>
          <td>
            <select class="clr-col-md-12  cc0">
              <option value="=">Equels To</option>
              <option value=">">Greater Than</option>
              <option value=">=">Greater Than Or equeals To</option>
              <option value="<">Less Than</option>
              <option value="<=">Less Than Or equeals To</option>
              <option value="CN">Contains</option>
            </select>
          </td>
          <td>
            <input type="{{inputType}}" class="clr-col-md-12 vv0">
          </td>
          <td>
            <div style="margin-top:-8px;">
              <button class="btn btn-dark btn-sm" (click)="onReservationSearch($event)">Search<clr-icon shape="search"></clr-icon>
              </button>
              <button class="btn btn-success btn-sm" (click)="addCriterion($event)">add criterion<clr-icon shape="plus-circle"></clr-icon>
              </button>
            </div>

          </td>
        </tr>




        <tr *ngFor="let g of criteriaList; let  index=index;">
          <td>
            <select class="clr-col-md-12 s{{index}}" (change)="onSearchFieldChange2($event)">
              <option value="select">--select--</option>
              <option value="reservation_number|number|{{index}}">Reservation Number</option>
              <option value="book_on|date|{{index}}">Booked On</option>
              <option value="arrival|date|{{index}}">Arrival Date</option>
              <option value="departure|date|{{index}}">Departure Date</option>
              <option value="reservation_status|text|{{index}}">Reservation Status</option>
            </select>
          </td>
          <td>
            <select class="clr-col-md-12 c{{index}}">
              <option value="=">Equels To</option>
              <option value=">">Greater Than</option>
              <option value=">=">Greater Than Or equeals To</option>
              <option value="<">Less Than</option>
              <option value="<=">Less Than Or equeals To</option>
              <option value="CN">Contains</option>
            </select>
          </td>
          <td>
            <input type="{{inputType}}" class="clr-col-md-12 v{{index}}">
          </td>
          <td>
            <div style="margin-top:-8px;" *ngIf="criteriaList.length-1===index">

              <button class="btn btn-danger btn-sm clr-col-md-12 b{{index}}" (click)="removeLast($event)">remove last
                criterion <clr-icon shape="times-circle"></clr-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>
    <h4>Search Result</h4>
    <table class="table table-bordered table-primary">
      <thead>
        <tr>
          <th>Reservation Number</th>
          <th>Book On</th>
          <th>Arrival</th>
          <th>Departure</th>
          <th>Number Of Night</th>
          <th>Total</th>
          <th>Paid</th>
          <th>Balance</th>
          <th>On Discount</th>
          <th>Status</th>
          <th>Tools</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of reservations">
          <td><span class="label label-info">{{d.reservation_number}} </span> </td>

          <td>{{d.book_on | date:'short'}}</td>
          <td>{{d.arrival | date:'short'}}</td>
          <td>{{d.departure | date:'short'}}</td>
          <td>{{d.num_of_night}}</td>
          <td *ngIf="d.apply_discount===0">{{d.total_booking | number:'.2'}}</td>
          <td *ngIf="d.apply_discount===1">{{d.total_amount_with_discount | number:'.2'}} <br>
            <span style="font-size:0.8em!important;color:red;"> <strike>{{d.total_booking | number:'.2'}}</strike>
            </span>
          </td>
          <td>{{d.amount_paid | number:'.2'}}</td>
          <td>{{d.balance | number:'.2'}}</td>
          <td [innerHTML]="getDiscountStatus(d.apply_discount, d)"> </td>
          <td [innerHTML]="getReservationStatus(d.reservation_status)"></td>
          <td>
            <clr-button-group  class="btn-sm"  style="margin-top:-5px!important;font-size:9px!important;">
              <clr-button  class="btn-danger" style="font-size:9px!important;"    (click)="onPaymentCliked(d)"  *ngIf="!checkPaymentVisibility(d.payment_status)" >Make Payment</clr-button>
              <clr-button class="btn-primary"    *ngIf="checkPaymentCheckinVisibility(d)" (click)="onCheckInClicked(d)">Check In</clr-button>
              <clr-button  class="btn-success"  *ngIf="checkPaymentVisibility(d.payment_status)">Print Invoice</clr-button>
            </clr-button-group>
          </td>

        </tr>

      </tbody>
    </table>
  </div>
  <div class="clr-col-md-1"></div>
</div>


<clr-wizard #wizardxl [(clrWizardOpen)]="open_wizard">
  <clr-wizard-title>Reservation Check In</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="onFinish()">Finish</clr-wizard-button>


  <clr-wizard-page #page1>
    <ng-template clrPageTitle>Reservation Details</ng-template>
    <ng-template clrPageNavTitle>Reservation</ng-template>

    <div class="clr-row">
      <div class="clr-col-md-12">

        <h5>Reservation Summary</h5>
        <span *ngIf="loadingReservation" class="spinner  spinner-md" style="margin-left:50px; margin-top:-80px;"></span>
        <table class="table" *ngIf="selectedReservation" style="margin-top:-3px;">
          <tbody>
            <tr>
              <th>
                Reservation Number
              </th>
              <td>{{selectedReservation.reservation_number}}</td>
              <th>
                Reservation Status
              </th>
              <td>{{selectedReservation.reservation_status}}</td>
            </tr>
            <tr>
              <th>
                Booked On
              </th>
              <td>{{selectedReservation.book_on | date:'longDate'}}</td>
              <th>
                Booked By
              </th>
              <td>{{selectedReservation.book_by}}</td>
            </tr>

            <tr>
              <th>
                Arrival Date
              </th>
              <td>{{selectedReservation.arrival | date:'longDate'}}</td>
              <th>
                Arrival Time
              </th>
              <td>{{selectedReservation.arrival_time}}</td>
            </tr>

            <tr>
              <th>
                Departure Date
              </th>
              <td>{{selectedReservation.departure | date:'longDate'}}</td>
              <th>
                Departure Time
              </th>
              <td>{{selectedReservation.departure_time}}</td>
            </tr>

          </tbody>
        </table>


      </div>
      <div class="clr-col-md-12">
        <h5>Account Summary</h5>

        <span *ngIf="loadingAccount" class="spinner  spinner-md" style="margin-left:50px; margin-top:180px;"></span>

        <table class="table" *ngIf="selectedReservation.accounts_" style="margin-top:-3px;">
          <tbody>
            <tr>
              <th>
                Account Number
              </th>
              <td>{{selectedReservation.accounts_.account_number}}</td>
              <th>
                Account Name
              </th>
              <td>{{selectedReservation.accounts_.first_name}} {{selectedReservation.accounts_.last_name}}</td>
            </tr>
            <tr>
              <th>
                Credit Limit
              </th>
              <td>{{selectedReservation.accounts_.credit_limit}}</td>
              <th>
                Email Address
              </th>
              <td>{{selectedReservation.accounts_.email}}</td>
            </tr>

            <tr>
              <th>
                Address
              </th>
              <td>{{selectedReservation.accounts_.address1}} , {{selectedReservation.accounts_.address2}}</td>
              <th>
                City
              </th>
              <td>{{selectedReservation.accounts_.city}}</td>
            </tr>

            <tr>
              <th>
                Postal Code
              </th>
              <td>{{selectedReservation.accounts_.postal_code}}</td>
              <th>
                Phone Number
              </th>
              <td>{{selectedReservation.accounts_.phone}}</td>
            </tr>

            <tr>
              <th>
                State
              </th>
              <td>{{selectedReservation.accounts_.state}}</td>
              <th>
                Country
              </th>
              <td>{{selectedReservation.accounts_.country}}</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </clr-wizard-page>



  <clr-wizard-page #page2>
    <ng-template clrPageTitle>Reserved Rooms</ng-template>
    <ng-template clrPageNavTitle>Rooms</ng-template>

    <div class="clr-row">
      <div class="clr-col-md-12">

        <h5>Reserved Rooms</h5>

        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th></th>
              <th>Serial Number</th>
              <th>Room Type</th>
              <th>Room Name</th>
              <th>Extra Adult</th>
              <th>Extra Child</th>
              <th>Owner</th>
              <th>Total Charges</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of selectedReservation.reserved_rooms">
              <td>
                <clr-icon shape="home" class="is-solid"></clr-icon>
              </td>
              <td>{{room.serial_number}}</td>
              <td> {{room.room_type_name}}</td>
              <td> {{room.room_name}} </td>
              <td> <input type="number" value="{{room.num_of_adult}}" style="width:50px!important;" readonly class="r{{room.id}}"
                  (change)="onNumberOfAdultChange($event,room)"> </td>
              <td> <input type="number" value="{{room.num_of_children}}" style="width:50px!important;" readonly class="rr{{room.id}}"
                  (change)="onNumberOfChildChange($event,room)"> </td>
              <td>
                <span *ngIf="!room.transfer_owner"> {{room.original_owner}}</span>
                <span *ngIf="room.transfer_owner && !room.transfer_mode"> {{room.transfer_owner}}</span>

                <ng-select *ngIf="room.transfer_mode" [items]="account_list" bindLabel="fullname" bindValue="id"
                  [(ngModel)]="selected_account" style="width:150px!important;" (change)="onRoomOwnerChanged($event,room)">
                </ng-select>


              </td>
              <td style="font-size:10px!important;">{{getTotalReservation400(room.reservation_transaction)[0].total |
                number:'.2'}}</td>
              <td>
                <clr-button-group class="btn-primary btn-sm">
                  <clr-button [clrInMenu]="true" class="btn" (click)="onEditReserved_Room(room)">Edit</clr-button>
                  <clr-button [clrInMenu]="true" class="btn btn-success" (click)="onTransferMode(room)">Change Owner</clr-button>
                  <clr-button [clrInMenu]="true" class="btn btn-danger" (click)="onDeleteReservation(room.id)">Delete</clr-button>
                </clr-button-group>
              </td>
            </tr>
          </tbody>
        </table>


      </div>

    </div>
  </clr-wizard-page>



  <clr-wizard-page [clrWizardPageNextDisabled]="!paymentForm.valid" (clrWizardPageCustomButton)="doCustomClick($event)">
    <ng-template clrPageTitle>Reservation Payment</ng-template>
    <ng-template clrPageNavTitle>Make Payment</ng-template>

    <form [formGroup]="paymentForm" class="clr-form clr-form-horizontal" #formPageTwo="ngForm">
      <div class="row">
        <div class="clr-col-md-12">

          <div class="row">
            <div class="col-md-12">
              <div style="width:770px; height:120px; background:url(assets/images/payments.png)"></div>
            </div>

          </div>

          <h4>Select your payment method.</h4>

          <div class="row">
            <div class="clr-col-md-6">
              <clr-input-container>
                <label>Payment Methods</label>
                <select formControlName="payment_method" clrInput (change)="onPaymentMethodChange($event)">

                  <option value="Cash">Cash</option>
                  <option value="Cheque">Cheque</option>
                  <option value="Transfer">Transfer</option>
                  <option value="Credit Card">Credit Card</option>
                </select>
              </clr-input-container>
            </div>
            <div class="clr-col-md-6">
              <clr-input-container>
                <label>Total Amount</label>
                <input clrInput type="number" formControlName="total_amount" readonly />
              </clr-input-container>
            </div>
          </div>

          <div class="row">
            <div class="clr-col-md-6">
              <clr-input-container>
                <label>Amount</label>
                <input clrInput type="number" formControlName="amount" #amount (keyup.enter)="onAmountLeave(amount.value)"
                  (blur)="onAmountLeave(amount.value)" />
                <clr-control-error>Amount cannot be empty.</clr-control-error>
              </clr-input-container>
            </div>
            <div class="clr-col-md-6">
              <clr-input-container>
                <label>Balance</label>
                <input clrInput type="number" formControlName="balance" readonly />
              </clr-input-container>
            </div>
          </div>


          <div class="row" *ngIf="isCheque">
            <div class="clr-col-md-6">
              <clr-input-container>
                <label>Cheque Number</label>
                <input clrInput type="text" formControlName="cheque" />
              </clr-input-container>
            </div>
            <div class="clr-col-md-6">
              <clr-input-container>
                <label>Account Number</label>
                <input clrInput type="text" formControlName="account_number" />
              </clr-input-container>
            </div>
            <div class="clr-col-md-6">
              <clr-input-container>
                <label>Bank Name</label>
                <input clrInput type="text" formControlName="bank_name" />
              </clr-input-container>
            </div>
            <div class="clr-col-md-6">
              <clr-input-container>
                <label>Branch Name</label>
                <input clrInput type="text" formControlName="branch_name" />
              </clr-input-container>
            </div>
          </div>



        </div>

      </div>
    </form>


    <ng-template clrPageButtons>
      <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'custom-previous'">Back</clr-wizard-button>
      <clr-wizard-button [type]="'custom-danger'">Post Payment</clr-wizard-button>
    </ng-template>
  </clr-wizard-page>



</clr-wizard>


<clr-modal [(clrModalOpen)]="onCheckinMode" [clrModalSize]="'xl'" [clrModalClosable]="false">
    <h3 class="modal-title">Check In</h3>
    <div class="modal-body">
      <div *ngIf="selectedReservation">
        <div class="clr-row">
          <div class="clr-col-md-12">
  
           <table class="table table-striped"  *ngIf="checkinReservation">
             <thead>
               <tr>
                 <th colspan="8">
                   <h3 >Reservation Details</h3>
                 </th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td>Reservation Number</td>
                 <td>{{checkinReservation.reservation_number}}</td>
                 <td>Booked On </td>
                 <td>{{checkinReservation.book_on  | date: 'dd/MM/yyyy'}}</td>
                 <td>Arrival Date</td>
                 <td>{{checkinReservation.arrival  | date: 'dd/MM/yyyy'}}</td>
                 <td>Departure Date</td>
                 <td>{{checkinReservation.departure  | date: 'dd/MM/yyyy'}}</td>
               </tr>
             </tbody>
           </table>        

           <table *ngIf="checkinReservation"  class="table table-striped">
              <thead>
                <tr>
                  <td colspan="6">
                    <h3>Reserved Rooms</h3>
                  </td>
                </tr>
                <tr>
                  <th>S/N</th>
                  <th>Room Name</th>
                  <th>Room Type</th>
                  <th>Number of Nights</th>
                  <th>Number of Adult</th>
                  <th>Number Of Children</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let d  of checkinReservation.reserved_rooms">
                  <td>{{d.serial_number}}</td>
                  <td>{{d.room_name}}</td>
                  <td>{{d.room_type_name}}</td>
                  <td>{{d.num_of_night}}</td>
                  <td>{{d.num_of_adult}}</td>
                  <td>{{d.num_of_children}}</td>
                </tr>
              </tbody>
           </table>

           <table *ngIf="checkinReservation"  class="table table-striped">
              <thead>
                <tr>
                  <td colspan="6">
                    <h3>Payments</h3>
                  </td>
                </tr>
                <tr>
                  <th>S/N</th>
                  <th>Payment Method</th>
                  <th>Total Amount</th>
                  <th>Paid</th>
                  <th>Balance</th>
                  <th>Transaction Date</th>
                  <th>On Discount</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let d  of checkinReservation.reservation_payments; let index= index;">
                  <td>{{index+1}}</td>
                  <td>{{d.payment_method}}</td>
                  <td  *ngIf="d.on_discount===0">{{d.total_amount | number:'.2'}}</td>
                  <td *ngIf="d.on_discount > 0">{{d.total_amount_with_discount | number:'.2'}} <br>
                     
                  </td>
                  <td>{{d.paid  | number:'.2'}}</td>
                  <td>{{d.balance  | number:'.2'}}</td>
                  <td>{{d.created | date: 'dd/MM/yyyy'}}</td>
                  <td [innerHTML]="getDiscountStatus(d.on_discount, d)"> </td>
                </tr>
              </tbody>
           </table>
                  
  
          </div> 
          <div class="clr-col-4"></div> 
          <div class="clr-col-4">
            <button class="btn btn-primary btn-block"  (click)="onCheckInClicked2(checkinReservation)"> Check In</button>
          </div> 
          <div class="clr-col-4"></div>    
        </div>
      </div>
  
  
    </div>
    <div class="modal-footer">
  
      <button type="button" class="btn btn-danger" (click)="onCheckinMode = false">Close</button>
    </div>
  </clr-modal>
  
